.navbar-brand{
    font-family: 'Cinzel', serif !important;
    color: black !important;
    text-align: center !important;
    background-color: #309de6 !important;
}
.centered{
	text-align: center !important;
}
table{
	min-width: 100% !important;
	text-align: center !important;
}
